.base-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.base-input__label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $secondary-color;
}

.base-input__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  color: $dark;
  background-color: $secondary-color;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d4def5;
  transition: 200ms;

  &--error {
    border: none;
  }
}

.base-input__wrapper_focused {
  border: 1px solid $primary;
}

.base-input__prefix {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: $secondary-color;
  margin-bottom: 3px;
}

.base-input__input {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  &--error {
    border: 1px solid $danger;
    border-radius: inherit;
  }
}

.base-input__input_no-left-padding {
  padding-left: 0;
}

.base-input_light .base-input__label {
  color: $secondary-color;
}

.base-input_light .base-input__wrapper {
  background-color: white;
}

.base-input__error-item {
  color: $danger;
  margin: 2px;
  font-size: 11px;
}