$primary: #295CCF;
$primary-light-1: #3E75F2;
$primary-light-2: #F4F9FF;
$primary-dark-1: #1745AD;
$primary-dark-2: #1D3863;

$danger: #F45555;
$danger-light-1: #FBBBBB;
$danger-light-2: #FFECEC;

$success: #27A075;
$success-light-1: #A9D9C8;
$success-light-2: #E3FCF3;

$secondary-color: #46586B;
$secondary-light-1: #677584;
$secondary-light-2: #D5DCEB;
$secondary-light-3: #EBF0FF;

$dark: #081D34;
$white: #FFF;