@font-face {
  font-family: "IBM Plex Sans";
  src: url("~@/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("~@/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("~@/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("~@/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}
